/* footer */

#footer11 {
    border-top: 1px solid lightgray;
    height: 340px;
    background-color: #015e3c;
}

#footer-1 {
    width: 300px;
    margin-left: 170px;
    display: inline-block;
}

#footer-1>h3 {
    color: white;
    text-shadow: 2px 2px black;
}

#footer-2 {
    width: 500px;
    margin-right: 100px;
    display: inline-block;
}

#footer-2>h3 {
    color: white;
    text-shadow: 2px 2px black;
}

#footer-3 {
    width: 300px;
    display: inline-block;
}

#footer-3>h3 {
    color: white;
    text-shadow: 2px 2px black;
}

#footer-3>p {
    font-size: 15px;
    color: wheat;
}