

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Dashboard - Quản lý tài khoản</title>

<!-- Bootstrap Core CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/bootstrap.min.css"
	rel="stylesheet" />

<!-- MetisMenu CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/metisMenu/metisMenu.min.css"
	rel="stylesheet" />

<!-- Timeline CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/timeline.css"
	rel="stylesheet" />

<!-- Custom CSS -->
<link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/sb-admin-2.css"
	rel="stylesheet" />

<!-- Morris Charts CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/morris.css"
	rel="stylesheet" />

<!-- Custom Fonts -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />

<!-- jQuery -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script
	src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/sb-admin-2.js"></script>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script
	src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script
	src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>
</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<a href="/dashboard/"><img src="/assets/img/favicon.png"
				style="width: 13%;"></a>

			<ul class="nav navbar-top-links navbar-right">

				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>[[${#request.userPrincipal.principal.username}]]
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="/profile/"><i class="fa fa-user fa-fw"></i>
								Thông tin tài khoản</a></li>
						<li><a href="/changePass"><i class="fa fa-gear fa-fw"></i> Đổi mật
								khẩu</a></li>
						<li class="divider"></li>
						<li><a th:href="@{/logout}"><i
								class="fa fa-sign-out fa-fw"></i> Đăng xuất</a></li>
					</ul> <!-- /.dropdown-user --></li>


				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					 <ul class="nav" id="side-menu">
                    
                    <li sec:authorize="hasAnyRole('ROLE_QUANLY')">
                        <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/staff"><i class="fa fa-user"></i> Quản lý người dùng</a>
                    </li>
                   
                    <li sec:authorize="hasAnyRole('ROLE_BACSI','ROLE_LETAN','ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/quanlylichkham"><i class="fa fa-user"></i> Quản lý lịch làm việc</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/services"><i class="fa fa-user"></i> Quản lý dịch vụ</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/customer"><i class="fa fa-user"></i> Quản lý khách hàng</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/account"><i class="fa fa-user"></i> Quản lý tài khoản</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_LETAN','ROLE_QUANLY')">
                        <a href="/dashboard/lichkham"><i class="fa fa-user"></i>Tiếp nhận lịch khám</a>
                    </li>

                </ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>


<div class="notify">
					<div th:if="${message}">
						<span id="snackbar"  style="color: white;font-size:16px;" th:text="${message}"></span>
					</div>
				</div>
		<div id="page-wrapper">
			<div class="container-fluid">

				<!-- Page Heading -->
				<h1 class="h3 mb-2 text-gray-800 mb-5">Quản lý tài khoản</h1>

			</div>

			<br>
			<div class="card-body">
				<div class="table-responsive">

					
					<form>
						<table id="example" class="table table-striped table-bordered"
							style="width: 100%" cellspacing="0">
							<thead>
								<tr class="text-center">
									<th>STT</th>
									<th>Họ và tên</th>
									<th>Username</th>
									<th>Trạng thái</th>
									<th>Chức vụ</th>
									<th>Hành động</th>
								</tr>
							</thead>
							<tbody tbody class="text-justify" id="myTable">
								<th:block th:each="userList,stt : ${userLists}">
									<tr>
										<td th:text="${stt.count}"></td>
										<td th:text="${userList.name}"></td>

										<td th:text="${userList.username}"></td>
										<td th:text="${userList.status} eq '1' ? 'Đang kích hoạt' : 'Khóa'"></td>
										<td th:text="${userList.roles}"></td>

										<td >


											<div  class="dropdown">
												<button  class="btn btn-default dropdown-toggle"
													type="button" id="menu1" data-toggle="dropdown">
													Hành động <span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu"
													aria-labelledby="menu1" >
													
													<li role="presentation" ><a th:if="${(userList.status == 0)}" data-target="#myModal1"
											th:attr="data-target='#myModal1'+${userList.id}" id="kichhoat"
											 data-toggle="modal">Kích hoạt</a></li>
													<li role="presentation"><a th:if="${(userList.status == 1)}" data-target="#myModal" id="khoa"
											th:attr="data-target='#myModal'+${userList.id}"
											 data-toggle="modal">Khóa</a></li>
													<!-- -->
												</ul>
											</div>
										</td>
										<div th:id="myModal1+${userList.id}" class="modal fade">
											<div class="modal-dialog modal-confirm">
												<div class="modal-content">
													<div class="modal-header flex-column">

														<h4 class="modal-title w-100">Bạn có chắc chắn muốn
															kịch hoạt tài khoản này?</h4>
														<button type="button" class="close" data-dismiss="modal"
															aria-hidden="true">&times;</button>
													</div>
													<div class="modal-body">
														<p>Bạn có muốn kích hoạt tài khoản này chứ ?</p>
													</div>
													<div class="modal-footer justify-content-center">
														<a
															th:href="@{/dashboard/account/open/{id}(id=${userList.id})}"
															type="button" class="btn btn-danger">Kích hoạt</a>
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Không</button>
													</div>
												</div>
											</div>
										</div>
										<div th:id="myModal+${userList.id}" class="modal fade">
											<div class="modal-dialog modal-confirm">
												<div class="modal-content">
													<div class="modal-header flex-column">

														<h4 class="modal-title w-100">Bạn có chắc chắn muốn
															khóa tài khoản này?</h4>
														<button type="button" class="close" data-dismiss="modal"
															aria-hidden="true">&times;</button>
													</div>
													<div class="modal-body">
														<p>Bạn có muốn khóa tài khoản này chứ ?</p>
													</div>
													<div class="modal-footer justify-content-center">
														<a
															th:href="@{/dashboard/account/delete/{id}(id=${userList.id})}"
															type="button" class="btn btn-danger">Khóa</a>
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Không</button>
													</div>
												</div>
											</div>
										</div>
									</tr>
								</th:block>
							</tbody>

						</table>

					</form>
				</div>
			</div>
		</div>

	</div>

	</div>
	<!-- /#page-wrapper -->


<script>
		$(document)
				.ready(
						function() {
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
							$('#example')
									.DataTable(
											{
												"language" : {
													"lengthMenu" : "Hiển thị _MENU_ item mỗi trang",
													"zeroRecords" : "Không có dữ liệu",
													"info" : "Hiển thị _PAGE_ trong tổng _PAGES_",
													"infoEmpty" : "Không có dữ liệu",
													"paginate" : {
														"first" : "Đầu tiền",
														"last" : "Cuối",
														"next" : "Tiếp",
														"previous" : "Trước"
													},
													"search" : "Tìm kiếm:",
												}
											});
							 var x = document.getElementById("snackbar");
							  x.className = "show";
							  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
						});
	</script>
	<style>
	
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #58a9e9;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 50px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 50px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 50px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
/* 	.dataTables_filter, .dataTables_info , .dataTables_length { display: none; } */
.table-responsive {
	overflow-x: hidden;
}

#example_paginate {
	float: right;
}

#example_filter {
	float: right;
}
</style>
</body>

</html>



