<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Dashboard - Quản lý nhân viên</title>
<link href="/assets/css/calendar.css" rel="stylesheet" />
<!-- Bootstrap Core CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/bootstrap.min.css"
	rel="stylesheet" />

<!-- MetisMenu CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/metisMenu/metisMenu.min.css"
	rel="stylesheet" />

<!-- Timeline CSS -->
<script
	src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css"
	rel="stylesheet" />


<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/timeline.css"
	rel="stylesheet" />

<!-- Custom CSS -->
<link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/sb-admin-2.css"
	rel="stylesheet" />

<!-- Morris Charts CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/morris.css"
	rel="stylesheet" />

<!-- Custom Fonts -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />

<style>
</style>

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<a href="/dashboard/"><img src="/assets/img/favicon.png"
				style="width: 13%;"></a>

			<ul class="nav navbar-top-links navbar-right">

				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>[[${#request.userPrincipal.principal.username}]]
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="/profile/"><i class="fa fa-user fa-fw"></i>
								Thông tin tài khoản</a></li>
						<li><a href="/changePass"><i class="fa fa-gear fa-fw"></i>
								Đổi mật khẩu</a></li>
						<li class="divider"></li>
						<li><a th:href="@{/logout}"><i
								class="fa fa-sign-out fa-fw"></i> Đăng xuất</a></li>
					</ul> <!-- /.dropdown-user --></li>


				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					 <ul class="nav" id="side-menu">
                    
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/staff/"><i class="fa fa-user"></i> Quản lý nhân viên</a>
                    </li>
                   
                    <li sec:authorize="hasAnyRole('ROLE_BACSI','ROLE_LETAN')">
                        <a href="/dashboard/quanlylichkham/"><i class="fa fa-user"></i> Quản lý lịch làm việc</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/services/"><i class="fa fa-user"></i> Quản lý dịch vụ</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/customer/"><i class="fa fa-user"></i> Quản lý khách hàng</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/account/"><i class="fa fa-user"></i> Quản lý tài khoản</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_LETAN','ROLE_QUANLY')">
                        <a href="/dashboard/lichkham/"><i class="fa fa-user"></i>Tiếp nhận lịch khám</a>
                    </li>

                </ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>


		<div id="page-wrapper">
			<div
				class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app"
				style="width: 100%; display: flex; padding: 40px;">

				<div id="form1"
					style="width: 75%; background-color: #f8f8f8; border-radius: 10px 10px 10px 10px; padding-left: 30px; margin-left: 13%; box-shadow: 8px 8px 10px #c2bbbb; border: 1px solid #dddada;">
					<div class="row">
						<div class="col-xl-12">
							<div>

								<form action="#" th:action="@{/dashboard/lichkham/luu}"
									th:object="${bookItem}" method="post">
									<div class="row">
										<div style="margin-left: 190px;">
											<h3 class="kt-section__title kt-section__title-sm">Cập
												nhật thông tin lịch khám</h3>

										</div>
									</div>
									<table>
										<tbody>
											<td style="width: 350px;">
												<div style="margin: 30px;">
													<input type="hidden" th:field="*{id_detail}" />
													<div class="form-group">
														<label>Tên khách hàng:</label> <input type="text"
															class="form-control" th:field="*{name}"
															readonly="readonly">
													</div>
													<div class="form-group">
														<label>Số điện thoại:</label> <input type="text"
															class="form-control" th:field="*{sdt}"
															readonly="readonly">
													</div>
													<div class="form-group">
														<label>Tên dịch vụ:</label> <input type="text"
															class="form-control" th:field="*{tendv}"
															readonly="readonly" />
													</div>

												</div>
											</td>
											<td>
												<div style="width: 280px; margin: 30px;">
													<div class="form-group">
														<label>Bác sĩ khám:</label> <br> <select id="bacsi"
															th:field="*{tenbs}">
															<option th:each="bsList :${staffList}"
																th:value=${bsList.id_staff} th:text=${bsList.name_staff} />
														</select>
													</div>
													<div class="form-group">
														<label>Ngày Đặt:</label> <input class="form-control"
															onChange="searchViaAjax()" type="date"
															th:field="*{ngayDat}" id="txtDate" />
													</div>
													<div class="col-10 form-group">
														<h3>Chọn giờ khám</h3>
														<br />
														<div class="button-group-1 ">
															<input type="radio" th:value="${'9:00'}" name="ca1"
																id="bton1" class="button1" th:field="*{gioBatDau}">
															<label for="bton1" class="label1">9h00</label> <input
																type="radio" th:value="${'10:00'}"  name="ca1"
																id="bton2" class="button1" th:field="*{gioBatDau}" >
															<label for="bton2" class="label1">10h00</label> <input
																type="radio" th:value="${'11:00'}"  name="ca1"
																id="bton3" class="button1" th:field="*{gioBatDau}">
															<label for="bton3" class="label1">11h00</label> <input
																type="radio" th:value="${'13:00'}"  name="ca2"
																id="bton4" class="button1" th:field="*{gioBatDau}">
															<label for="bton4" class="label1">13h00</label> <input
																type="radio" th:value="${'14:00'}"  name="ca2"
																id="bton5" class="button1" th:field="*{gioBatDau}">
															<label for="bton5" class="label1">14h00</label> <input
																type="radio" th:value="${'15:00'}"  name="ca2"
																id="bton6" class="button1" th:field="*{gioBatDau}">
															<label for="bton6" class="label1">15h00</label> <input
																type="radio" th:value="${'16:00'}"  name="ca2"
																id="bton7" class="button1" th:field="*{gioBatDau}">
															<label for="bton7" class="label1">16h00</label> <input
																type="radio" th:value="${'17:00'}"  name="ca3"
																id="bton8" class="button1" th:field="*{gioBatDau}">
															<label for="bton8" class="label1">17h00</label> <input
																type="radio" th:value="${'18:00'}"  name="ca3"
																id="bton9" class="button1" th:field="*{gioBatDau}">
															<label for="bton9" class="label1">18h00</label> <input
																type="radio" th:value="${'19:00'}"  name="ca3"
																id="bton10" class="button1" th:field="*{gioBatDau}">
															<label for="bton10" class="label1">19h00</label>
														</div>

														<div class="button-group-1">
															<input type="radio" th:value="${'9:20'}" name="ca1"
																id="bton11" class="button1" th:field="*{gioBatDau}">
															<label for="bton11" class="label1">9h20</label> <input
																type="radio" th:value="${'10:20'}" name="ca1"
																id="bton12" class="button1" th:field="*{gioBatDau}">
															<label for="bton12" class="label1">10h20</label> <input
																type="radio" th:value="${'11:20'}" name="ca1"
																id="bton13" class="button1" th:field="*{gioBatDau}">
															<label for="bton13" class="label1">11h20</label> <input
																type="radio" th:value="${'13:20'}" name="ca2"
																id="bton14" class="button1" th:field="*{gioBatDau}">
															<label for="bton14" class="label1">13h20</label> <input
																type="radio" th:value="${'14:20'}" name="ca2"
																id="bton15" class="button1" th:field="*{gioBatDau}">
															<label for="bton15" class="label1">14h20</label> <input
																type="radio" th:value="${'15:20'}" name="ca2"
																id="bton16" class="button1" th:field="*{gioBatDau}">
															<label for="bton16" class="label1">15h20</label> <input
																type="radio" th:value="${'16:20'}" name="ca2"
																id="bton17" class="button1" th:field="*{gioBatDau}">
															<label for="bton17" class="label1">16h20</label> <input
																type="radio" th:value="${'17:20'}" name="ca3"
																id="bton18" class="button1" th:field="*{gioBatDau}">
															<label for="bton18" class="label1">17h20</label> <input
																type="radio" th:value="${'18:20'}" name="ca3"
																id="bton19" class="button1" th:field="*{gioBatDau}">
															<label for="bton19" class="label1">18h20</label> <input
																type="radio" th:value="${'19:20'}" name="ca3" 
																id="bton20" class="button1" th:field="*{gioBatDau}">
															<label for="bton20" class="label1">19h20</label>
														</div>

														<div class="button-group-1">
															<input type="radio" th:value="${'9:40'}" name="ca1"
																id="bton21" class="button1" th:field="*{gioBatDau}">
															<label for="bton21" class="label1">9h40</label> <input
																type="radio" th:value="${'10:40'}" name="ca1"
																id="bton22" class="button1" th:field="*{gioBatDau}">
															<label for="bton22" class="label1">10h40</label> <input
																type="radio" th:value="${'11:40'}" name="ca1"
																id="bton23" class="button1" th:field="*{gioBatDau}">
															<label for="bton23" class="label1">11h40</label> <input
																type="radio" th:value="${'13:40'}" name="ca2"
																id="bton24" class="button1" th:field="*{gioBatDau}">
															<label for="bton24" class="label1">13h40</label> <input
																type="radio" th:value="${'14:40'}" name="ca2"
																id="bton25" class="button1" th:field="*{gioBatDau}">
															<label for="bton25" class="label1">14h40</label> <input
																type="radio" th:value="${'15:40'}" name="ca2"
																id="bton26" class="button1" th:field="*{gioBatDau}">
															<label for="bton26" class="label1">15h40</label> <input
																type="radio" th:value="${'16:40'}" name="ca2"
																id="bton27" class="button1" th:field="*{gioBatDau}">
															<label for="bton27" class="label1">16h40</label> <input
																type="radio" th:value="${'17:40'}" name="ca3"
																id="bton28" class="button1" th:field="*{gioBatDau}">
															<label for="bton28" class="label1">17h40</label> <input
																type="radio" th:value="${'18:40'}" name="ca3"
																id="bton29" class="button1" th:field="*{gioBatDau}">
															<label for="bton29" class="label1">18h40</label> <input
																type="radio" th:value="${'19:40'}" name="ca3"
																id="bton30" class="button1" th:field="*{gioBatDau}">
																<label for="bton30" class="label1">19h40</label>
														
														</div>
													</div>

													<button class="btn btn-primary" type="submit"
														style="margin-left: 146px;">Lưu</button>
													<button th:href="@{/dashboard/lichkham}"
														class="btn btn-warning" type="submit">Quay lại</button>
												</div>
											</td>

										</tbody>
									</table>


								</form>


							</div>
						</div>

					</div>
				</div>

			</div>
			<!-- /#page-wrapper -->

		</div>

	</div>
	<!-- /#page-wrapper -->

	<!-- /#wrapper -->

	<!-- jQuery -->
	<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/metisMenu/metisMenu.min.js"></script>

	<!-- Morris Charts JavaScript -->
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/raphael.min.js"></script>
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/morris.min.js"></script>
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/morris-data.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/sb-admin-2.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:inline="javascript" >
	function searchViaAjax() {
		var url      = window.location.href; 
		var bacsi = document.getElementById('bacsi').value;
		var ngayDat = document.getElementById('txtDate').value;
        $.ajax({
            type : "GET",
            contentType : "application/json",
            url :  "/getSearchResult",
            data : {
            	bacsi : bacsi,
            	ngayDat : ngayDat
            },
            dataType : 'json',
            timeout : 100000,
            success : function(data) {
                console.log("SUCCESS: ", data);
                if(data != null){           
                	if (data.shift1 == 1){               		
                		console.log(data.shift1);                		                		
                	} if (data.shift2 == 0){            	
                		console.log(data.shift2);
                		$('#bton30').prop("disabled", true);           		
                	} if (data.shift3 == 1);{               		
                		console.log(data.shift3);	
               	}
                }
            },
            error : function(e) {
                console.log("ERROR: ", e);
            }
            
        });

    }
	
		
		$(function() {
			var dtToday = new Date();

			var month = dtToday.getMonth() + 1;
			var day = dtToday.getDate();
			var year = dtToday.getFullYear();
			if (month < 10)
				month = '0' + month.toString();
			if (day < 10)
				day = '0' + day.toString();

			var today = new Date();
			var day1 = (today.getDate() + 7) > 9 ? (today.getDate() + 14) : "0"
					+ (today.getDate() + 14); // format should be "DD" not "D" e.g 09
			var month1 = (today.getMonth() + 1) > 9 ? (today.getMonth() + 1)
					: "0" + (today.getMonth() + 1);
			var year1 = today.getFullYear();

			var maxDate = year + '-' + month + '-' + day;
			var minDate = year1 + '-' + month1 + '-' + day1;
			$('#txtDate').attr('min', maxDate);

		});
	</script>
</body>

</html>
