<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Dashboard - Quản lý nhân viên</title>

<!-- Bootstrap Core CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/bootstrap.min.css"
	rel="stylesheet" />

<!-- MetisMenu CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/metisMenu/metisMenu.min.css"
	rel="stylesheet" />

<!-- Timeline CSS -->
<script
	src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css"
	rel="stylesheet" />


<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/timeline.css"
	rel="stylesheet" />

<!-- Custom CSS -->
<link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/sb-admin-2.css"
	rel="stylesheet" />

<!-- Morris Charts CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/morris.css"
	rel="stylesheet" />

<!-- Custom Fonts -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />

<style>
input: {
	width: 30%;
}
</style>

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<a href="/dashboard/"><img src="/assets/img/favicon.png"
				style="width: 13%;"></a>

			<ul class="nav navbar-top-links navbar-right">

				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>[[${#request.userPrincipal.principal.username}]]
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="/profile/"><i class="fa fa-user fa-fw"></i>
								Thông tin tài khoản</a></li>
						<li><a href="/changePass"><i class="fa fa-gear fa-fw"></i> Đổi mật
								khẩu</a></li>
						<li class="divider"></li>
						<li><a th:href="@{/logout}"><i
								class="fa fa-sign-out fa-fw"></i> Đăng xuất</a></li>
					</ul> <!-- /.dropdown-user --></li>


				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					 <ul class="nav" id="side-menu">
                    
                    <li sec:authorize="hasAnyRole('ROLE_QUANLY')">
                        <a href="/dashboard/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/staff/"><i class="fa fa-user"></i> Quản lý nhân viên</a>
                    </li>
                   
                    <li sec:authorize="hasAnyRole('ROLE_BACSI','ROLE_LETAN')">
                        <a href="/dashboard/quanlylichkham/"><i class="fa fa-user"></i> Quản lý lịch làm việc</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/services/"><i class="fa fa-user"></i> Quản lý dịch vụ</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/customer/"><i class="fa fa-user"></i> Quản lý khách hàng</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/account/"><i class="fa fa-user"></i> Quản lý tài khoản</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_LETAN','ROLE_QUANLY')">
                        <a href="/dashboard/lichkham/"><i class="fa fa-user"></i>Tiếp nhận lịch khám</a>
                    </li>

                </ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>
		

		
		<div id="page-wrapper">
			<div
				class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app"
				style="width: 100%; display: flex; padding: 40px;">

				<div id="form1"
					style="width: 75%; background-color: #f8f8f8; border-radius: 10px 10px 10px 10px; padding-left: 30px; margin-left:13%;
					box-shadow: 8px 8px 10px #c2bbbb;border: 1px solid #dddada;">
					<div class="row">
						<div class="col-xl-12">
							<div>
				<form action="#" th:action="@{/dashboard/lichtaikham/luu}"
					th:object="${bookItem}" method="post">
					<div class="row">
						<div  style="margin-left:270px;">
						<h3 class="kt-section__title kt-section__title-sm">Hẹn lịch tái khám</h3>
						
							</div>
							</div>
					<table>
					<tbody>
					<td style="width:350px;">
					<div style="margin:30px;">
					<input type="hidden" th:field="*{id_detail}" />
					<div class="form-group">
						<label>Tên khách hàng:</label> <input type="text"
							 class="form-control" th:field="*{name}"
							readonly="readonly">
					</div>
					<div class="form-group">
						<label>Số điện thoại:</label> <input type="text"
							 class="form-control" th:field="*{sdt}"
							readonly="readonly">
					</div>
					<div class="form-group">
						<label>Tên dịch vụ:</label> <input type="text" 
							class="form-control" th:field="*{tendv}" disabled />
					</div>
					<div class="form-group" style="display:none;">
						<label>Giá tiền:</label> <input type="text" 
							class="form-control" th:field="*{giaTien}" readonly="readonly" >
					</div>
					
					</div>
					 </td>
					<td > 
					<div style="width:280px;margin:30px;">
					
					<div class="form-group">
						<label>Ngày Đặt:</label> <input class="form-control"
							 type="date" th:field="*{ngayDat}" id="txtDate">
					</div>
					<div class="form-group">
						<label>Giờ bắt đầu:</label> <select th:field="*{gioBatDau}">
							<option th:value="${'8:00'}">8:00</option>
							<option th:value="${'8:30'}">8:30</option>
							<option th:value="${'9:00'}">9:00</option>
							<option th:value="${'9:30'}">9:30</option>
							<option th:value="${'10:00'}">10:00</option>
							<option th:value="${'10:30'}">10:30</option>
							<option th:value="${'11:00'}">11:00</option>
							<option th:value="${'11:30'}">11:30</option>
							<option th:value="${'13:30'}">13:30</option>
							<option th:value="${'14:30'}">14:30</option>
							<option th:value="${'15:30'}">15:30</option>
							<option th:value="${'16:30'}">16:30</option>
							<option th:value="${'17:30'}">17:30</option>
							
						</select>
					</div>
					<div class="form-group">
						<label>Ghi chú:</label> 
						
						<textarea rows="3" cols="37" >
						</textarea>
					</div>

					<button class="btn btn-primary" type="submit" style="margin-left:145px;">Lưu</button>
					<a th:href="@{/dashboard/quanlylichkham}" class="btn btn-warning" >Quay lại</a>
					</div>
					</td>
					
					</tbody>
					</table>
				</form>

						</div>
						</div>

					</div>
				</div>

			</div>
			<!-- /#page-wrapper -->

		</div>

		</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/metisMenu/metisMenu.min.js"></script>

	<!-- Morris Charts JavaScript -->
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/raphael.min.js"></script>
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/morris.min.js"></script>
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/morris-data.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/sb-admin-2.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			var dtToday = new Date();

			var month = dtToday.getMonth() + 1;
			var day = dtToday.getDate();
			var year = dtToday.getFullYear();
			if (month < 10)
				month = '0' + month.toString();
			if (day < 10)
				day = '0' + day.toString();

			var today = new Date();
			var day1 = (today.getDate() + 7) > 9 ? (today.getDate() + 14) : "0"
					+ (today.getDate() + 14); // format should be "DD" not "D" e.g 09
			var month1 = (today.getMonth() + 1) > 9 ? (today.getMonth() + 1)
					: "0" + (today.getMonth() + 1);
			var year1 = today.getFullYear();

			var maxDate = year + '-' + month + '-' + day;
			var minDate = year1 + '-' + month1 + '-' + day1;
			$('#txtDate').attr('min', maxDate);

		});
	</script>
</body>

</html>
