<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Dashboard - Hồ sơ</title>

<!-- Bootstrap Core CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/bootstrap.min.css"
	rel="stylesheet" />

<!-- MetisMenu CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/metisMenu/metisMenu.min.css"
	rel="stylesheet" />

<!-- Timeline CSS -->
<script
	src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css"
	rel="stylesheet" />


<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/timeline.css"
	rel="stylesheet" />

<!-- Custom CSS -->
<link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/sb-admin-2.css"
	rel="stylesheet" />

<!-- Morris Charts CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/morris.css"
	rel="stylesheet" />

<!-- Custom Fonts -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />

<style>
</style>

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<a href="/dashboard/"><img src="/assets/img/favicon.png"
				style="width: 13%;"></a>

			<ul class="nav navbar-top-links navbar-right">

				<!-- /.dropdown -->


				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>[[${#request.userPrincipal.principal.username}]]
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="/profile/"><i class="fa fa-user fa-fw"></i>
								Thông tin tài khoản</a></li>
						<li><a href="/changePass"><i class="fa fa-gear fa-fw"></i> Đổi mật
								khẩu</a></li>
						<li class="divider"></li>
						<li><a th:href="@{/logout}"><i
								class="fa fa-sign-out fa-fw"></i> Đăng xuất</a></li>
					</ul> <!-- /.dropdown-user --></li>


				<nav th:if="${@mainController.checkLoggedIn() == true} "
					class="nav-menu d-none d-lg-block" style="display: none;"></nav>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					 <ul class="nav" id="side-menu">
                    
                    <li sec:authorize="hasAnyRole('ROLE_QUANLY')">
                        <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/staff"><i class="fa fa-user"></i> Quản lý người dùng</a>
                    </li>
                   
                    <li sec:authorize="hasAnyRole('ROLE_BACSI','ROLE_LETAN','ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/quanlylichkham"><i class="fa fa-user"></i> Quản lý lịch làm việc</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/services"><i class="fa fa-user"></i> Quản lý dịch vụ</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/customer"><i class="fa fa-user"></i> Quản lý khách hàng</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_QUANLY')">
                        <a href="/dashboard/account"><i class="fa fa-user"></i> Quản lý tài khoản</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_LETAN','ROLE_QUANLY')">
                        <a href="/dashboard/lichkham"><i class="fa fa-user"></i>Tiếp nhận lịch khám</a>
                    </li>

                </ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
		</nav>

		<div id="page-wrapper">
			<div
				class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app"
				style="width: 100%; display: flex; padding: 25px;">



				<div id="form1"
					style="width: 58%; background-color: #f8f8f8; border-radius: 10px 10px 10px 10px; margin: 0 auto; box-shadow: 0 2px 6px #4a4747; border: 1px solid #dddada;">
					<div class="row">
						<div class="col-xl-12">
							<div>

								<form style="padding: 10px;" action="#"
									th:action="@{/saveStaff2}" th:object="${staff}" method="post"
									enctype="multipart/form-data">
									<div class="kt-portlet__body">
										<div>
											<div>
												<div class="row">


													<h3 style="text-align: center;">Thông tin cá nhân</h3>
													<br>

												</div>
												<div class="form-group" style="display: none;">
													<label for="name">Id nhân viên</label> <input type="text"
														style="display:" none";" class="form-control"
														th:field="*{id_staff}" readonly="readonly">
												</div>
												<div class="form-group" style="display: none;">
													<label for="name">Id người dùng</label> <input type="text"
														style="width: 30%; display:" none";" class="form-control"
														th:field="*{id_user}" readonly="readonly">
												</div>
												<div class="form-group" style="display: none;">
													<label for="name">Id người dùng</label> <input type="text"
														style="width: 30%; display:" none";" class="form-control"
														th:field="*{image}" readonly="readonly">
												</div>
												<div class="form-group" style="display: none;">
													<label for="name">Ngày</label> <input type="text"
														style="width: 30%; display:" none";" class="form-control"
														th:field="*{dateWorking_Start}" readonly="readonly">
												</div>




												<img th:src="*{'/assets/img/'+{image}}" id="thumbnail"
													alt="Ảnh nhân viên"
													style="display: block; margin-left: auto; margin-right: auto; width: 50%;" />
												<input type="file" name="fileImage" id="fileImage"
													accept="image/png,image/ipeg"
													style="margin: 0 auto; display: none; padding: 25px 0 0 0" />
												<br />

												<div style="padding: 10px 30px 10px 30px;">
													<label class="col-xl-3 col-lg-3 col-form-label"
														style="font-size: 15px; font-weight: 600">Họ và
														tên</label> <input type="text" id="ten" th:field="*{name_staff}"
														style="" readonly="readonly" required
														autofocus placeholder="Họ và tên" class="form-control">


												</div>
												<div style="padding: 10px 30px 10px 30px;">
													<label class="col-xl-3 col-lg-3 col-form-label"
														style="font-size: 15px; font-weight: 600">Địa chỉ</label>


													<input type="text" id="diachi" th:field="*{address}"
														style="" readonly="readonly"
														placeholder="Địa chỉ" class="form-control">

												</div>



												<div style="padding: 10px 30px 10px 30px;">
													<label class="col-xl-3 col-lg-3 col-form-label"
														style="font-size: 15px; font-weight: 600">Giới
														tính</label> <input type="radio" th:field="*{sex}" value="1"
														readonly="readonly"> Nam <input type="radio"
														th:field="*{sex}" value="2" readonly="readonly">
													Nữ

												</div>


												<div style="padding: 10px 30px 10px 30px;">
													<label class="col-xl-3 col-lg-3 col-form-label"
														style="font-size: 15px; font-weight: 600">Email</label> <input
														type="text" th:field="*{email}" readonly="readonly"
														class="form-control">


												</div>
												<div style="padding: 10px 30px 30px 30px;">
													<label class="col-xl-3 col-lg-3 col-form-label"
														style="font-size: 15px; font-weight: 600">Số điện
														thoại</label> <input type="text" id="sdt" th:field="*{phone}"
														style="" readonly="readonly"
														placeholder="Số điện thoại" class="form-control">

												</div>


											</div>
										</div>
									</div>
									<input id="binh" type="button" class="btn btn-primary"
										style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 40px"
										value="Cập nhật thông tin" onClick="hien()">
									<button id="chien"
										style="display: none; margin-left: auto; margin-right: auto; margin-bottom: 40px"
										class="btn btn-primary" type="submit">Lưu</button>
								</form>
							</div>
						</div>

					</div>
				</div>

			</div>
			<!-- /#page-wrapper -->

		</div>
		<!-- /#wrapper -->
	</div>

	<!-- jQuery -->
	<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/metisMenu/metisMenu.min.js"></script>

	<!-- Morris Charts JavaScript -->
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/raphael.min.js"></script>
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/morris.min.js"></script>
	<script
		src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/morris-data.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/sb-admin-2.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							$('#fileImage').change(function() {
								showImageThumbnail(this);
							});
							$("#myInput")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#myTable tr")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});

		function showImageThumbnail(fileInput) {
			file = fileInput.files[0];
			reader = new FileReader();

			reader.onload = function(e) {
				$('#thumbnail').attr('src', e.target.result);
			};
			reader.readAsDataURL(file);
		};

		var timepicker = new TimePicker('time', {
			lang : 'en',
			theme : 'dark'
		});

		timepicker.on('change', function(evt) {

			var value = (evt.hour || '00') + ':' + (evt.minute || '00');
			evt.element.value = value + ':00';

		});
		function code() {
			// check trong
			var name = document.getElementById("ten").value.trim();

			if (name.trim().length == 0) {
				alert("Mời bạn nhập họ và tên");
				return false;
			}

			return true;
		};
		function hien() {
			document.getElementById("chien").style.display = "block";
			document.getElementById("binh").style.display = "none";
			document.getElementById("fileImage").style.display = "block";
			$('#fileImage').prop('type', "file");
			$('#ten').prop('readonly', false);
			$('#diachi').prop('readonly', false);
			$('#sdt').prop('readonly', false);

		}
	</script>
</body>

</html>
