<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Dashboard - Quản lý lịch khám</title>

    <!-- Bootstrap Core CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet"/>

    <!-- Timeline CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/timeline.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/sb-admin-2.css" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/morris.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="/webjars/startbootstrap-sb-admin-2/1.0.2/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css"
          integrity="sha512-kJ30H6g4NGhWopgdseRb8wTsyllFUYIx3hiUwmGAkgA9B/JbzUBDQVr2VVlWGde6sdBVOG7oU8AL35ORDuMm8g=="
          crossorigin="anonymous"/>
          <style>
          #hide{
          display:none;
          }
          #hide1{
          display:none;
          }
          
          
          </style>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard/">SB Admin v2.0</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
           
              
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="/dashboard/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/dashboard/staff/"><i class="fa fa-user"></i> Quản lý nhân viên</a>
                    </li>
                    <li>
                        <a href="/dashboard/quanlylichkham/"><i class="fa fa-user"></i> Quản lý lịch làm việc</a>
                    </li>
                    <li>
                        <a href="/dashboard/services/"><i class="fa fa-user"></i> Quản lý dịch vụ</a>
                    </li>
                    <li>
                        <a href="/dashboard/customer/"><i class="fa fa-user"></i> Quản lý khách hàng</a>
                    </li>
                    <li>
                        <a href="/dashboard/account/"><i class="fa fa-user"></i> Quản lý tài khoản</a>
                    </li>
                    <li>
                        <a href="/dashboard/lichkham/"><i class="fa fa-user"></i>Tiếp nhận lịch khám</a>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800 mb-5">Lịch khám</h1>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-lg-6">
                            <h6 class="m-0 font-weight-bold text-primary">Hiển thị chi tiết lịch khám bệnh</h6>
                            <button class="btn btn-default">Export</button>
                            <a th:href="@{/dashboard/quanlylichkham/dangky}" class="btn btn-default">Đăng ký lịch</a>

                        </div>
                        <div class="form-group pull-right">
                            <input type="text" id="myInput" class="search form-control" placeholder="Search...."
                            >
                        </div>
                    </div>
                </div>
                
                <div class="card-body">
                <input id="binh" type="button" value="Vũ Đức Binh" onClick="hien()">
                
                <input id="chien" type="button" value="Đào Trung Chiến" onClick="an()" >
                    <div class="table-responsive" id="hide">
                    <h4>Ngày 30/11/2020 - 05/12/2020</h4>
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr class="text-center">
              
                                <th>Giờ</th>
                                <th>Thứ 2</th>
                                <th>Thứ 3</th>
                                <th>Thứ 4</th>
                                <th>Thứ 5</th>
                                <th>Thứ 6</th>
                                <th>Thứ 7</th>
                            </tr>
                            </thead>
                            <tbody class="text-justify" id="myTable">
                            <tr>
    
                                <td>08:00 AM</td>
                                <td> Niềng răng</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>

                            </tr>
                            <tr>
    
                                <td>09:00 AM</td>
                                <td> </td>
                                <td> Hàn răng </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>

                            </tr>
                            <tr>
    
                                <td>10:00 AM</td>
                                <td> </td>
                                <td> </td>
                                <td> Nhổ răng </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>

                            </tr>
                            <tr>
    
                                <td>11:00 AM</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td>Răng sứ </td>
                                <td> </td>
                                <td> </td>

                            </tr>
                            <tr>
    
                                <td>12:00 AM</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> Phẫu thuật răng miệng</td>
                                <td> </td>

                            </tr>
                            <tr>
    
                                <td>13:00 PM</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> Răng trẻ em</td>

                            </tr>
                            

                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" id="hide1">
                    <h4>Ngày 30/11/2020 - 05/12/2020</h4>
                        <table class="table table-bordered" cellspacing="0">
                            <thead>
                            <tr class="text-center">
              
                                <th>Giờ</th>
                                <th>Thứ 2</th>
                                <th>Thứ 3</th>
                                <th>Thứ 4</th>
                                <th>Thứ 5</th>
                                <th>Thứ 6</th>
                                <th>Thứ 7</th>
                            </tr>
                            </thead>
                            <tbody class="text-justify" id="myTable">
                            <tr>
    
                                <td>08:00 AM</td>
                                <td> </td>
                                <td>Niềng răng </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>

                            </tr>
                            <tr>
    
                                <td>09:00 AM</td>
                                <td> </td>
                                <td> </td>
                                <td> Hàn răng </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>

                            </tr>
                            <tr>
    
                                <td>10:00 AM</td>
                                <td> </td>
                                <td> </td>
                                <td> Nhổ răng </td>
                                <td> Nhổ răng </td>
                                <td> </td>
                                <td> </td>

                            </tr>
                            <tr>
    
                                <td>11:00 AM</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td>Răng sứ </td>
                                <td> </td>

                            </tr>
                            <tr>
    
                                <td>12:00 AM</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> Phẫu thuật răng miệng</td>

                            </tr>
                            <tr>
    
                                <td>13:00 PM</td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> Răng trẻ em</td>

                            </tr>
                            

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/raphael.min.js"></script>
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/morris.min.js"></script>
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/plugins/morris/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/webjars/startbootstrap-sb-admin-2/1.0.2/js/sb-admin-2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    function hien(){
    	document.getElementById("hide").style.display ="block";
    	document.getElementById("chien").style.display ="block";
    	document.getElementById("hide1").style.display ="none";
    }
    function an(){
    	document.getElementById("hide").style.display ="none";
    	document.getElementById("hide1").style.display ="block";
    
    }
</script>
</body>

</html>
