<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Dashboard - Quản lý nhân viên</title>

<!-- Bootstrap Core CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/bootstrap.min.css"
	rel="stylesheet" />

<!-- MetisMenu CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/metisMenu/metisMenu.min.css"
	rel="stylesheet" />

<!-- Timeline CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/timeline.css"
	rel="stylesheet" />

<!-- Custom CSS -->
<link href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/sb-admin-2.css"
	rel="stylesheet" />

<!-- Morris Charts CSS -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/css/plugins/morris.css"
	rel="stylesheet" />

<!-- Custom Fonts -->
<link
	href="/webjars/startbootstrap-sb-admin-2/1.0.2/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script
	src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script
	src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap4.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
	crossorigin="anonymous"></script>
</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/dashboard/">SB Admin v2.0</a>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-top-links navbar-right">

				<!-- /.dropdown -->

				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-bell fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li><a href="#">
								<div>
									<i class="fa fa-comment fa-fw"></i> New Comment <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-twitter fa-fw"></i> 3 New Followers <span
										class="pull-right text-muted small">12 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-envelope fa-fw"></i> Message Sent <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-tasks fa-fw"></i> New Task <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a href="#">
								<div>
									<i class="fa fa-upload fa-fw"></i> Server Rebooted <span
										class="pull-right text-muted small">4 minutes ago</span>
								</div>
						</a></li>
						<li class="divider"></li>
						<li><a class="text-center" href="#"> <strong>See
									All Alerts</strong> <i class="fa fa-angle-right"></i>
						</a></li>
					</ul> <!-- /.dropdown-alerts --></li>
				<!-- /.dropdown -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
						<i class="fa fa-caret-down"></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#"><i class="fa fa-user fa-fw"></i> User
								Profile</a></li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li><a th:href="@{/logout}"><i
								class="fa fa-sign-out fa-fw"></i> Logout</a></li>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li class="sidebar-search">
							<div class="input-group custom-search-form">
								<input type="text" class="form-control" placeholder="Search..." />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div> <!-- /input-group -->
						</li>
						<li><a href="/dashboard/"><i
								class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
						<li><a href="/dashboard/staff/"><i class="fa fa-user"></i>
								Quản lý nhân viên</a></li>
						<li><a href="/dashboard/quanlylichkham/"><i
								class="fa fa-user"></i> Quản lý lịch làm việc</a></li>
						<li><a href="/dashboard/services/"><i class="fa fa-user"></i>
								Quản lý dịch vụ</a></li>
						<li><a href="/dashboard/customer/"><i class="fa fa-user"></i>
								Quản lý khách hàng</a></li>
						<li><a href="/dashboard/account/"><i class="fa fa-user"></i>
								Quản lý tài khoản</a></li>

					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>

		<div id="page-wrapper">
			<div class="container-fluid">

				<!-- Page Heading -->
				<h1 class="h3 mb-2 text-gray-800 mb-5">Quản lý lịch đặt</h1>

			</div>

			<br>
			<div class="card-body">
				<div class="table-responsive">
					<form>
						<table id="example" class="table table-striped table-bordered"
							style="width: 100%" cellspacing="0">
							<thead>
								<th>STT</th>
								<th>Tên khách hàng</th>
								<th>Số điện thoại</th>
								<th>Tên dịch vụ</th>
								<th>Bác sĩ khám</th>
								<th>Ngày Đặt</th>
								<th>Giờ bắt đầu</th>
								<th>Giá tiền</th>
								<th>Trạng thái</th>
								<th>Hành động</th>

							</thead>
							<tbody tbody class="text-justify" id="myTable">
								<th:block th:each="tiepNhanList,stt : ${tiepNhanList}">
									<tr>
										<td th:text="${stt.count}"></td>
										<td th:text="${tiepNhanList.name}"></td>
										<td th:text="${tiepNhanList.sdt}"></td>
										<td th:text="${tiepNhanList.tendv}"></td>
										<td th:text="${tiepNhanList.tenbs}"></td>
										<td
											th:text="${#dates.format(tiepNhanList.ngayDat, 'dd-MM-yyyy')}"></td>
										<td th:text="${tiepNhanList.gioBatDau}"></td>
										<td th:text="${tiepNhanList.giaTien}"></td>
										<td th:if="${tiepNhanList.status == 0}">Chờ xác nhận</td>
										<td th:if="${tiepNhanList.status == 1}">Đã xác nhận</td>
										<td>
											<div class="dropdown">
												<button class="btn btn-default dropdown-toggle"
													type="button" id="menu1" data-toggle="dropdown">
													Hành động <span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu"
													aria-labelledby="menu1">
													<li role="presentation"><a th:if="${tiepNhanList.status == 0}" role="menuitem"
														tabindex="-1" href="#">Xác nhận lịch đặt</a></li>
													<li role="presentation"><a role="menuitem"
														tabindex="-1" href="#">Thay đổi lịch</a></li>
													<li role="presentation"><a role="menuitem"
														tabindex="-1" href="#">Hủy lịch</a></li>
																							
												</ul>
											</div>
										</td>
									</tr>

								</th:block>
							</tbody>

						</table>

					</form>
				</div>
			</div>
		</div>

	</div>

	</div>
	<!-- /#page-wrapper -->


	<script type="text/javascript">
		$(document).ready(function() {
			$('#example').DataTable({
				"language" : {
					"lengthMenu" : "Hiển thị _MENU_ item mỗi trang",
					"zeroRecords" : "Không có dữ liệu",
					"info" : "Hiển thị _PAGE_ trong tổng _PAGES_",
					"infoEmpty" : "Không có dữ liệu",
					"paginate" : {
						"first" : "Đầu tiền",
						"last" : "Cuối",
						"next" : "Tiếp",
						"previous" : "Trước"
					},
					"search" : "Tìm kiếm:",
				}
			});
		});
	</script>
	<style>
/* 	.dataTables_filter, .dataTables_info , .dataTables_length { display: none; } */
.table-responsive {
	overflow-x: hidden;
}

#example_paginate {
	float: right;
}

#example_filter {
	float: right;
}
</style>
</body>

</html>
