.form-register {
 
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("/assets/img/banner2.jpg");
}

.background-register {
  background: #fff;
  display: block;
  width: 875px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

.img-bg-register {
  width: 110%;
  height: 25rem;
  margin-left: -3rem;
}

.input-control {
  border-radius: 10rem;
}

.content-text {
  text-decoration: none;
}
