<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nhập mật khẩu mới</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="css/register.css" rel="stylesheet" />
<script src="bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="javascript" src="static/js/index.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	href="http://bizweb.dktcdn.net/100/167/865/themes/222134/assets/favicon.png?1568890987754"
	rel="icon" />
<link
	href="http://bizweb.dktcdn.net/100/167/865/themes/222134/assets/favicon.png?1568890987754"
	rel="apple-touch-icon" />
</head>




<body>


	<section class="form-register">
	<div class="background-register" style="padding-top: 70px;">
		<div class="row">
			<div class="col-lg-6">
				<img src="img/register.jpg" class="img-bg-register" />
			</div>

			<div class="col-lg-6">
				<form action="#" method="post">
					<h2>ĐỔI MẬT KHẨU</h2>
					<br /> <input type="hidden" name="token" th:value="${token}" />
					<div class="form-group">
						<label>Nhập mật khẩu mới:</label>
						<div class="login-content">
							<input type="password" name="password" id="password"
								class="form-control" required autofocus
								placeholder="Nhập mật khẩu mới của bạn" />
						</div>
						<br />
						<div class="login-content">
							<input type="password" name="rpassword" id="rpassword"
								class="form-control" required autofocus
								placeholder="Nhập lại mật khẩu của bạn"
								oninput="checkPasswordMatch(this)" />
						</div>
					</div>

					<button type="submit" class="btn btn-primary">Thay đổi mật
						khẩu</button>
					<hr />
					<div class="text-center">
						<a class="content-text" href="/login">Quay lại đăng nhập</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	</section>
	<script>
		function checkPasswordMatch(fieldConfirmPassword) {
			if (fieldConfirmPassword.value != $("#password").val()) {
				fieldConfirmPassword
						.setCustomValidity("mật khẩu không trùng khớp");
			} else {
				fieldConfirmPassword.setCustomValidity("");
			}
		}
	</script>
</body>
</html>
