<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quên mật khẩu</title>
</head>


<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/register.css" rel="stylesheet">
<script src="bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<body>
<section class="form-register">
    <div class="background-register">
        <div class="row">
            <div class="col-lg-6">
                <img src="img/register.jpg" class="img-bg-register">
            </div>

            <div class="col-lg-6">
                <div>
                    <p class="text-danger">[[${error}]]</p>
                </div>
                <div>
                    <p class="text-warning">[[${msg}]]</p>
                </div>
                <form action="/forgot-password" method="post" onsubmit="return validateForgotPassword();">

                    <div class="form-group">
                        <label>Nhập email của bạn:</label>
                        <div class="login-content">
                            <input type="text" name="username" id="username"
                                   placeholder="Nhập email của bạn" class="form-control"/>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Quên mật
                        khẩu
                    </button>
                    <hr>
                    <div class="text-center">
                        <a class="content-text" href="/login">Quay lại đăng nhập</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function validateForgotPassword() {
        var email = document.getElementById("username").value;
        if (email === "") {
            alert("Mời bạn nhập email");
            return false;
        }


    }

</script>
</body>

</html>
