<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Lịch sử đặt lịch</title>
<meta content="" name="descriptison">
<meta content="" name="keywords">

<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700"
	rel="stylesheet">

<!-- Bootstrap -->

<!-- Custom stlylesheet -->
<!-- <link type="text/css" rel="stylesheet" href="assets/css/stylef.css" /> -->
<link
	href="http://bizweb.dktcdn.net/100/167/865/themes/222134/assets/favicon.png?1568890987754"
	rel="icon">
<link
	href="http://bizweb.dktcdn.net/100/167/865/themes/222134/assets/favicon.png?1568890987754"
	rel="apple-touch-icon">

<!-- <link rel="stylesheet" href="assets/css/stylec.css"> -->
<link rel="stylesheet" href="assets/css/trangchu.css">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">


<link href="assets/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
<link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css"
	rel="stylesheet">


<link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top header-inner-pages">
		<div class="container-fluid">

			<div class="row justify-content-center">
				<div
					class="col-xl-9 d-flex align-items-center justify-content-between">
					<h1 class="logo">
						<a href="/"><img src="assets/img/logo.png"></a>
					</h1>

					<nav class="nav-menu d-none d-lg-block">
						<ul>
							<li><a href="/">Trang chủ</a></li>
							<li><a href="/#about">Giới thiệu</a></li>
							<li class="drop-down"><a href="home.html#services">Dịch
									vụ</a>
								<ul>
									<li><a href="/nhakhoatongquat">Nha khoa tổng quát</a></li>
									<li><a href="/rangtreem">Răng trẻ em</a></li>
									<li><a href="/nanchinhrang">Nắn chỉnh răng</a></li>
									<li><a href="/chinhnhacochucnang">Chỉnh nha cơ chức
											năng</a></li>
									<li><a href="/nhakhoathammy">Nha khoa thẩm mỹ</a></li>
									<li><a href="/nhakhoaphuchinh">Nha khoa phục hình</a></li>
									<li><a href="/dieutrinoinha">Điều trị nội nha</a></li>
									<li><a href="/cayghep">Cấy ghép Implant</a></li>
									<li><a href="/phauthuatrm">Phẩu thuật răng miệng</a></li>
								</ul></li>
							<li><a href="/#portfolio">Các bác sĩ</a></li>
							<li th:if="${@mainController.checkLoggedIn() == true} "><a
								href="/datlich">Đặt lịch</a></li>
							<li><a href="/tintuc">Tin tức</a></li>
							<li><a href="/#contact">Liên hệ</a></li>

						</ul>
					</nav>
					<!-- .nav-menu -->

					<a th:if="${@mainController.checkLoggedIn() == false }"
						href="/login" class="get-started-btn scrollto">Đăng nhập</a>
					<!-- .nav-menu -->

					<nav th:if="${@mainController.checkLoggedIn() == true} "
						class="nav-menu d-none d-lg-block">
						<ul>

							<li id="drop-down" class="drop-down"><span
								style="font-size: 15px; color: white;">[[${#request.userPrincipal.principal.username}]]</span>
								<ul>
									<li><a href="/profile2">Thông tin tài khoản</a></li>
									<li><a href="/lichsudat">Lịch sử đặt lịch</a></li>
									<li><a href="/changePass">Đổi mật khẩu</a></li>
									<li><a href="/logout">Đăng xuất</a></li>

								</ul></li>

						</ul>
					</nav>
				</div>
			</div>

		</div>
	</header>
	<!-- End Header -->


	<section id="breadcrumbs" class="breadcrumbs">
		<div class="container">
			<ol>
				<li><a href="/">Trang chủ</a></li>
				<li>Đặt lịch</li>
			</ol>
			<h2>Lịch sử đặt lịch</h2>
		</div>
	</section>

	<section class="inner-page">
		<div class="section-center">
			<div class="container">
				<form class="">
					<table class="table table-hover" id="myTable">
						<thead style="text-align: center">
							<th>STT</th>
							<th>Tên dịch vụ</th>
							<th>Bác sĩ khám</th>
							<th>Ngày đặt</th>
							<th>Giờ bắt đầu</th>
							<th>Giá tiền</th>
							<th>Trạng thái</th>
							<th>Hành động</th>
						</thead>
						<tbody class="text-justify" id="myTable">
							<th:block th:each="lichSuDatList,stt : ${lichSuDatList}">
								<tr style="text-align: center">
					
										<td th:text="${stt.count}"></td>
										<td th:text="${lichSuDatList.tendv}"></td>
										<td  th:text="${lichSuDatList.tenbs}"></td>
										<td
											th:text="${#dates.format(lichSuDatList.ngayDat, 'dd-MM-yyyy')}"></td>
										<td></td>
										<td th:text="${lichSuDatList.giaTien}"></td>

										<td th:if="${lichSuDatList.trangThai == 0}"><span> Chờ
												xác thực</span></td>
										<td th:if="${lichSuDatList.trangThai == 1}"><span>Đã
												nhận lịch đặt</span></td>
												<td th:if="${lichSuDatList.trangThai == 2}"><span>Tái khám</span></td>
												<td th:if="${lichSuDatList.trangThai == 3}"><span>Đã hoàn thành</span></td>
										<td th:if="${lichSuDatList.trangThai == 1 ||  lichSuDatList.trangThai == 3 }">
											<button style="font-size: 15px" class="btn btn-warning"
												disabled="true">
												<img src="/assets/img/edit-pencil.png" />
											</button>
											<button style="font-size: 15px" class="btn btn-danger"
												disabled="true">
												<img src="/assets/img/cancel.png" />
											</button>
										</td>
										<td th:if="${lichSuDatList.trangThai == 0 || lichSuDatList.trangThai == 2}">
											<button style="font-size: 15px" class="btn btn-warning">
												<img src="/assets/img/edit-pencil.png" />
											</button>
											<button type="button" class="btn btn-danger"
												th:attr="data-target='#myModal'+${lichSuDatList.id_detail}"
												data-toggle="modal" data-target="#myModal">
												<img src="/assets/img/cancel.png" />
											</button>
											<div class="modal fade"
												th:id="myModal+${lichSuDatList.id_detail}">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header flex-column">

															<h4 class="modal-title w-100">Bạn có chắc chắn muốn
																hủy lịch đặt này chứ ?</h4>
															<button type="button" class="close" data-dismiss="modal"
																aria-hidden="true">&times;</button>
														</div>
														<div class="modal-body">
															<p>Bạn có muốn hủy lịch này chứ ?</p>
														</div>
														<div class="modal-footer justify-content-center">
															<a
																th:href="@{/lichsudat/delete/{id}(id=${lichSuDatList.id_detail})}"
																type="button" class="btn btn-danger">Xác nhận</a>
															<button type="button" class="btn btn-secondary"
																data-dismiss="modal">Hủy bỏ</button>
														</div>
													</div>
												</div>
											</div>
										</td>
								
								</tr>
							</th:block>
						</tbody>
					</table>
				</form>

			</div>
		</div>

	</section>


	<!-- End #main -->

	<!-- footer -->
	<div id="footer11">
		<div id="footer-1">


			<div class="fb-page fb_iframe_widget"
				data-href="https://www.facebook.com/nhakhoaphamduong/"
				data-tabs="timeline" data-width="270" data-height="280"
				data-small-header="false" data-adapt-container-width="true"
				data-hide-cover="false" data-show-facepile="true"
				fb-xfbml-state="rendered"
				fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=698718636878354&amp;container_width=270&amp;height=280&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnhakhoaphamduong%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=270">
				<span style="vertical-align: bottom; width: 270px; height: 280px;"><iframe
						name="f155e5064904c9c" width="270px" height="280px"
						data-testid="fb:page Facebook Social Plugin"
						title="fb:page Facebook Social Plugin" frameborder="0"
						allowtransparency="true" allowfullscreen="true" scrolling="no"
						allow="encrypted-media"
						src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=698718636878354&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df21e5413cccb5f%26domain%3Dnhakhoaphamduong.vn%26origin%3Dhttps%253A%252F%252Fnhakhoaphamduong.vn%252Ff6f324953efc78%26relation%3Dparent.parent&amp;container_width=270&amp;height=280&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fnhakhoaphamduong%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=270"
						style="border: none; visibility: visible; width: 270px; height: 280px;"
						class=""></iframe></span>
			</div>
		</div>
		<div id="footer-2">


			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.2468430144327!2d105.84847831468218!3d21.02280698600166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9310d384f9%3A0x4f5b347fe3dee4d8!2zNTIgQsOgIFRyaeG7h3UsIFRy4bqnbiBIxrBuZyDEkOG6oW8sIEhvw6BuIEtp4bq_bSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1502702797943"
				width="100%" height="280px" frameborder="0" style="border: 0"
				allowfullscreen=""></iframe>
		</div>
		<div id="footer-3">
			<img src="assets/img/logo.png" style="width: 100%;"> <br>
			<p>NHA KHOA PHẠM DƯƠNG</p>
			<p>Tầng 4-5, Ptower 52 Bà Triệu, P.Hàng Bài,</p>
			<p>Q.Hoàn Kiếm, TP.Hà Nội</p>
			<br>
			<p>GIỜ KHÁM</p>
			<p>Thứ 2 - Thứ 6: 09h00am - 19h30pm</p>
			<p>Thứ 7: 14h00pm - 18h00pm</p>
		</div>
	</div>
	<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="container">
			<h3>Nha khoa Phạm Dương</h3>
			<p>Tự hào là một trong số ít phòng khám nha khoa lâu đời hàng đầu
				tại Hà Nội.</p>
			<div class="copyright">© Bản quyền thuộc về Nha khoa Phạm Dương
				| Cung cấp bởi VIC Group</div>

		</div>
	</footer>

	<div id="preloader"></div>
	<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

	<!-- Vendor JS Files -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>
	<script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
	<script src="assets/vendor/counterup/counterup.min.js"></script>
	<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="assets/vendor/venobox/venobox.min.js"></script>
	<script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

	<!-- Template Main JS File -->
	<script src="assets/js/main.js"></script>
	<script type="text/javascript">
		
	</script>

</body>

</html>