<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Đổi mật khẩu</title>
</head>

<body>
    <section class="form-login">
        <div class="background-login">
            <div class="row">
                <div class="col-lg-6">
                    <img src="../images/1.jpg" class="img-fluid" id="img-bg">
                </div>
                <div class="col-lg-6">
                    <form class="login-group">
                        <p class="h2">Đổi mật khẩu</p>
                        <br>
                        <div class="form-group">
                            <label for="pwd">Mật khẩu hiện tại</label>

                            <div class="login-content">
                                <input type="password" class="form-control" id="pwd">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mật khẩu mới</label>

                            <div class="login-content">
                                <input type="password" class="form-control" id="pwd">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Xác nhận mật khẩu</label>

                            <div class="login-content">
                                <input type="password" class="form-control" id="pwd">

                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary">Thay đổi</button>
                        <button type="submit" class="btn btn-primary">Trở về</button>
                    </form>

                </div>
            </div>
        </div>


    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>