<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký </title>
</head>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/register.css" rel="stylesheet">
<script src="bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/index.js"></script>
<body>
<section class="form-register">
    <div class="background-register">
        <div class="row">
            <div class="col-lg-6">
                <img src="img/register.jpg" class="img-bg-register">
            </div>
            <div class="col-lg-6">
                <div>
                    <p class="text-danger">[[${error}]]</p>
                </div>
                <form action="register" method="post" onsubmit="return code();">
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <div class="login-content">
                            <input type="text" name="name" id="name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <div class="login-content">
                            <input type="text" name="email" id="email" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <div class="login-content">
                            <input type="password" name="password" id="password" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Xác nhận mật khẩu</label>
                        <div class="login-content">
                            <input type="password" name="cfpassword" id="cfpassword" class="form-control"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng ký</button>
                    <hr>
                    <div class="text-center">
                        <a class="content-text" href="/login">Đã có tài khoản? Đăng nhập tại đây</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


</section>
<script>
    function code() {
        // check trong
        var name = document.getElementById("name").value.trim();
        var email = document.getElementById("email").value.trim();
        var pass = document.getElementById("password").value.trim();
        var cfpass = document.getElementById("cfpassword").value.trim();
        var filter = /^[a-zA-Z-' ]*$/;


        if (name.trim().length == 0) {
            alert("Mời bạn nhập họ và tên");
            return false;
        }
        if (email.trim().length == 0) {
            alert("Mời bạn nhập email");
            return false;
        }
        if (!filter.test(email.value)) {
            alert('Please provide a valid email address');
            email.focus;
            return false;
        }

        if (pass.trim().length == 0) {
            alert("Mời bạn nhập mật khẩu");
            return false;
        }
        if (cfpass.trim().length == 0) {
            alert("Mời bạn nhập lại mật khẩu");
            return false;
        }

        return true;
    }
</script>

</body>
</html>